<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greek Mythology App</title>
  </head>
  <body>
    <h1>Welcome to the Greek Mythology app!</h1>
    <p>Store all the Greek gods and goddesses and their respective roles.</p>

    <a href="/deities">Browse Deities</a>
  </body>
</html>
